parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAnyTypeWideningInVarTag: true
